Localizador node.json
[{"id":"79cdf2e8.909b4c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98cc2e99.0c559","type":"webhookrelay","z":"79cdf2e8.909b4c","buckets":"owntracks","x":360,"y":340,"wires":[["69cdb0ed.00743"]]},{"id":"69cdb0ed.00743","type":"function","z":"79cdf2e8.909b4c","name":"parte necessária","func":"return {\n    payload: msg.payload.body\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":200,"wires":[["bed57849.f4eb18"]]},{"id":"bed57849.f4eb18","type":"owntracks","z":"79cdf2e8.909b4c","x":610,"y":420,"wires":[["a9f10d0c.e7038"]]},{"id":"a9f10d0c.e7038","type":"function","z":"79cdf2e8.909b4c","name":"personalização","func":"return {\n    payload: {\n        name: msg.payload.tid,\n        lat: msg.payload.lat,\n        lon: msg.payload.lon,\n        icon: 'user-circle-o'\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":260,"wires":[["f325bff9.80b63","95be624d.bc508"]]},{"id":"f325bff9.80b63","type":"worldmap","z":"79cdf2e8.909b4c","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"600","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1160,"y":300,"wires":[]},{"id":"95be624d.bc508","type":"worldmap-tracks","z":"79cdf2e8.909b4c","name":"","depth":20,"layer":"combined","smooth":true,"x":1130,"y":380,"wires":[[]]}]
